<div class="bootstrap-wrapper">
    <a name="sagenda"></a>
    <app-root>Sagenda is loading...</app-root>
    <script>
        window.sagendaIntegration = 'Drupal';
        window.sagendaBearerToken = '{{ data.token }}';
        window.sagendaWeekStartsOn = '{{ data.weekstartson }}';
        window.sagendaLanguageCultureShortName = '{{ data.language }}';
        window.sagendaDateFormat = '{{ data.date }}';
        window.sagendaTimeFormat = '{{ data.time }}';
        window.baseUrl = '{{ data.api_url }}';
        window.sagendaAngularPath = '{{ data.angular_path }}';
    </script>
</div>
